<h1>About Me</h1>
<%= link_to "Home", home_path %>
<p>I am a passionate web developer born and raised in Memphis, Tennesse. 
   I graduated with a degree in computer science from the university of Memphis in 2016.
   I have experience working with Ruby on Rails, Javascript, HTML/CSS and more. 
</p>

