<h1>Contact Me</h1>
<%= link_to "Home", home_path %>
<p>Don't hesitate to reach out to me using any of the following ways:</p>

<ul>
    <li>Work Phone: 901-555-555</li>
    <li>Email: <%= mail_to "Johndeo@email.com", "Johndoe@email.com"%></li>
    <li><a href="https://twitter.com/home">Twitter</li>
    <li></li>
</ul>