<h1>John DEO's Portfolio</h1>
<%= link_to "About", about_path %> <%= link_to "Contact", contact_path%> <%= link_to "Previous Works", work_path%> 
<p>Hello I am John DEO and welcome to my portfolio. I am a developer proficient in Ruby on Rails, Javascript, HTML/CSS and more.  </p>
<p>Here you can find my previous works, my contact information, and some information about me.</p>

