<h1>Work</h1>
<%= link_to "Home", home_path %>
<p>Here are some of my previous projects:</p>
<ul>
    <li>Personal Shop Webpage</li>
    <ul>
        <li>Using ruby on rails implemented a basic personal store.</li>
        <%=image_tag 'shop.png', style: 'max-width: 32rem;'%>
    </ul>
<ul>
